<?xml version='1.0' encoding='utf-8'?>
<widget id="bio.mendoza.oyeyaprende" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Oye y Aprende</name>
    <description>Sample Apache Cordova App</description>
    <author email="alejandro@mendoza.bio" href="https://www.alejandromendoza.co">
        Oye y Aprende es una aplicación educativa inclusiva que permite a los niños aprender a través de sonidos, imágenes y juegos interactivos. Diseñada para funcionar sin conexión, ofrece actividades accesibles para el reconocimiento de emociones, números, letras y más.
    </author>
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splashscreen.xml" />
        <preference name="FadeSplashScreenDuration" value="750"/>
        <preference name="SplashScreenDelay" value="1000" />
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="res/icon/android/ldpi.png" density="ldpi" />
        <icon src="res/icon/android/mdpi.png" density="mdpi" />
        <icon src="res/icon/android/hdpi.png" density="hdpi" />
        <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
        <icon src="res/icon/android/xxhdpi.png" density="xxhdpi" />
        <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi" />
    </platform>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
